.index-style {
    position: relative;
}

.index-style::before {
    content: "";
    height: 90vh;
    width: 3.5rem;
    background-color: rgb(13, 110, 253);
    position: fixed;
    left: 0;
    bottom: 0;
    border-top-right-radius: 5rem;
}

.index-style::after {
    content: "";
    height: 90vh;
    width: 3.5rem;
    background-color: rgb(13, 110, 253);
    position: fixed;
    right: 0;
    top: 0;
    border-bottom-left-radius: 5rem;
}
