
.landing__image-height {
    width: 30rem;
}

.footer__bg-image {
    height: 30vh;
    background: url('/public/images/jpg/github.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}