.signup__box-height {
    height: 35rem;
}
.signup__image {
    height: 100%;
    background: url('/public/images/jpg/signup.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.signup__style-image {
    position: absolute;
    top: -0.2rem;
    left: 20rem;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}